<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtUXzI0CAmfUX2ywnwkqEpe2hTZJ_pBvs</string>
	<key>GCM_SENDER_ID</key>
	<string>685780463583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flornanda</string>
	<key>PROJECT_ID</key>
	<string>flornanda-2c990</string>
	<key>STORAGE_BUCKET</key>
	<string>flornanda-2c990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685780463583:ios:c11123d6fb3ebf392e9e6a</string>
</dict>
</plist>